{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <form action="6" method="post" class="form">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name
          </dt>
          <dd class="app-check-your-answers__answer" >
                <p>{{ data['full-name'] }}</p>
            
          </dd>
          <dd class="app-check-your-answers__change">
                <a href="2">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
                <p>{{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}</p>
                
           
          </dd>
          <dd class="app-check-your-answers__change">
                <a href="3">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Home address
          </dt>
          <dd class="app-check-your-answers__answer">
                <p>{{ data['address-line-1'] }}</p>
                <p>{{ data['address-line-2'] }}</p>
                <p>{{ data['address-town'] }}</p>
                <p>{{ data['address-county'] }}</p>
                <p>{{ data['address-postcode'] }}</p>

            <br />
            <br />
            
          </dd>
          <dd class="app-check-your-answers__change">
                <a href="4">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Contact details
          </dt>
          <dd class="app-check-your-answers__answer">
                <p>{{ data['email-address'] }}</p>
                <p>{{ data['contact-number'] }}</p>
            <br />
            
          </dd>
          <dd class="app-check-your-answers__change">
                <a href="8">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <button class="govuk-button" href="confirmation-page" role="button">
        Accept and send application
      </a>

    </div>
  </div>
{% endblock %}
